[Unit]
Description=Icinga Web 2 Proactive HA Queue Worker
After=network.target icinga2.service
Wants=network.target

[Service]
Type=simple
User=www-data
Group=icingaweb2
ExecStart=/usr/bin/icingacli proactiveha worker run
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
